# describe
snippet describe
	describe('${1:Description}', function() {
		${0}
	});
# beforeEach
snippet beforeEach
	beforeEach(function() {
		${0:/* code in here */}
	});
# afterEach
snippet afterEach
	afterEach(function() {
	  ${0:/* code in here */}
	});

# it
snippet it
	it('${1:should}', function() {
	  ${0:/* code in here */}
	});

snippet exp
	expect(${1}).to.${2};
